[Unit]
Description=i3 Wallpaper Provider
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
RestartSec=180s
Restart=always
ExecStart=/home/andreas/.local/bin/tools/update-wallpaper Landscapes

[Install]
WantedBy=graphical.target

