[Unit]
Description="Shadow and transparency for windows"

[Service]
Type=simple
ExecStart=/usr/bin/xcompmgr -c -C -f -F -r 0 -D 3

[Install]
WantedBy=graphical.target

